
# directories (by name)

Debug/
DebugMt/
Debug Multithreaded/
Debug Multithreaded Dll/
DebugNox/
DebugUnix/
Release/
ReleaseMt/
Release Multithreaded/
Release Multithreaded Dll/
ReleaseNox/
ReleaseUnix/

_internal/

doc/

ideas/

include/shwild/

src/shwild/

Win32/
x64/

# directories (by pattern)

# files (by name)

list_changes.cmd

prepare.cmd

# files (by pattern)

xtests-0.*-doc.chm

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.sdf
*.sbr
*.scc
*.so
*.swp
*.tmp
*.vcproj*.user
*.vcxproj*.user

