
# directories (by name)

/_build/
/_internal/

/bin/
/doc/
/dox/
/ideas/
/releases/

Debug/
DebugMt/
Debug Multithreaded/
Debug Multithreaded Dll/
DebugNox/
DebugUnix/
Release/
ReleaseMt/
Release Multithreaded/
Release Multithreaded Dll/
ReleaseNox/
ReleaseUnix/

Win32/
x64/

# directories (by pattern)

# files (by name)

.DS_Store
.update_deps

list_changes.cmd
prepare.cmd
sh.exe.stackdump

build/makefile.tmpl
build/makefile.tools.xml

# files (by pattern)

xtests-0.*-doc.chm

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.sdf
*.sbr
*.scc
*.so
*.swp
*.tmp
*.vcproj*.user
*.vcxproj*.user
*.zip

