
# directories (by name)

.svn/

/_build/
/_internal/

/include/shwild/
/include/xcontract/
/include/xcover/

/src/shwild/
/src/xcontract/
/src/xcover/

bin/
ipch/
lib/

Debug/
DebugDll/
DebugMt/
DebugNox/
DebugUnix/
Debug Multithreaded/
Debug Multithreaded Dll/
Release/
ReleaseDll/
ReleaseMt/
ReleaseNox/
ReleaseUnix/
Release Multithreaded/
Release Multithreaded Dll/

x64/
Win32/

vc9/

# directories (by pattern)

# files (by name)

.svnignore
.svnignore-at-root

.update_deps

build/makefile.tmpl
build/makefile.tools.xml

clasp.vc9.sln

list_changes.cmd

sh.exe.stackdump

# files (by pattern)

xtests-0.*-doc.chm

*~
*.a
*.app
*.aps
*.dll
*.dylib
*.exe
*.gch
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.rar
*.sbr
*.scc
*.sdf
*.so
*.suo
*.swp
*.tmp
*.vcproj*.user
*.vcxproj*.user
*.zip

